

.admin-item-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: black;
  
} 


@media (min-width: 576px) {
  .admin-item-container {
    
    
    padding-left: 10px;
  }
}

.checkbox-item {
  width: 16px;
  height: 16px;
  margin-top: 12px;
  
}

@media (min-width: 576px) {
  .checkbox-item {
    width: 23px;
    height: 23px;
    margin-left: 20px;
    
    
  }
}

.admin-name {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500; 
  
 
 
  
}

@media (min-width: 576px) {
  .admin-name {
    font-size: 16px;
    
    
    
  }
}

.admin-email {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  
  

}

@media (min-width: 576px) {
  .admin-email {
    font-size: 16px;
    
    
    
    
    
  }
} 

.admin-role {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  
  
}

@media (min-width: 576px) {
  .admin-role {
    font-size: 16px;
    margin-right: 20px;
    
   
    
  }
}


.action-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  
} 

.edit {
  width: 16px;
  height: 16px;
  color: white;
}

.delete {
  width: 16px;
  height: 16px;
  color: white;
} 

.input {
  background-color: #f1f5f9;
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 20px;
  margin-top: 15px;
  
}